body {
    background-color: #3c7676;
}

.navbar {
    border-radius: 0;
}

.navbar-header {
    margin: 10px;
    font-size: 14px;
}

.navbar-header span:hover {
    color: #878787;
    cursor: pointer;
}

.navbar-header span {
    margin: auto 15px;
}

.messages-container{
    margin-bottom: 10px;
}

.message-item {
    width: 100%;
    height: auto;
    padding: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 45px;
    position: relative;
    border: 3px solid #fff;
    margin: 20px;
}
.message-item:after {
    top: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.messages-container .message-item{
    border-color: #bcbcbc;
    color: #878787;
    background-color: #fcfcfc;
}

.messages-container .message-item:after{
    border-top-color: #bcbcbc;
}

.newMessage {
    margin: 20px;
}

.newMessage input[type="text"] {
    padding: 20px 10px;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding-right: 80px;
    font-size: 1em;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

.newMessage input:focus{
    outline: 0;
}

.submit-new-message,
.submit-new-message:hover {
    padding-top: 20px;
    color: #fff;
}

.update-modal {
    position: fixed;
    border: solid 4px red;
    top: 20%;
    left: 50%;
    padding: 20px;
    width: 50%;
    transform: translate3d(25%, -80%, 0) scale(0.5);
    background: #FFF;
    opacity: 0;
}

.update-modal.open {
     opacity: 1;
     transform: translateX(-50%) scale(1);
 }

.update-modal h3,
.login-form h3 {
    margin-top: 0;
}

.update-modal .close-update,
.login-form .close-login {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    cursor: pointer;
    font-size: 2em;
    padding: 10px 15px;
    opacity: 0.2;
}

.at-input {
    margin-bottom: 10px;
}

.newMessage {
    display: flex;
    padding-left: 25px;
}