body {
    background-color: #3c7676;
}

.display-inline {
    display: inline-block;
}

.navbar {
    border-radius: 0;
    border-bottom: 2px solid #bcbcbc;
}

.navbar .brand {
    padding: 10px 0 10px 20px;
}

.navbar .logout {
    padding: 20px 35px 20px 20px;
}

.navbar ul li {
    padding: 5px;
}

.navbar .account-menu:hover,
.navbar ul li span:hover,
.navbar .logout:hover {
    color: #878787;
    cursor: pointer;
}

.navbar span {
    margin: auto 15px;
}

.form-container {
    padding-right: 0;
}

.messages-container{
    margin-bottom: 10px;
}

.message-item {
    width: 100%;
    height: auto;
    padding: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 45px;
    position: relative;
    border: 3px solid #fff;
    margin: 20px;
}
.message-item:after {
    top: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.messages-container .message-item{
    border-color: #bcbcbc;
    color: #878787;
    background-color: #fcfcfc;
}

.messages-container .message-item:after{
    border-top-color: #bcbcbc;
}

.message-content {
    color: #000;
}

.newMessage {
    margin: 20px;
}

.newMessage input[type="text"] {
    padding: 20px 10px;
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding-right: 80px;
    font-size: 1em;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

.newMessage input:focus{
    outline: 0;
}

.submit-new-message,
.submit-new-message:hover {
    padding-top: 20px;
    color: #fff;
}

.newMessage {
    display: flex;
    padding-left: 25px;
}

.navbar .location-name {
    text-transform: capitalize;
    margin-left: 0;
}

.at-form {
    width: 550px;
    background-color: #f8f8f8;
    border: 3px solid #bcbcbc;
    border-radius: 7px;;
    margin-top: 75px;
}

.at-form .at-title {
    text-align: center;
}

.at-form .at-input {
    padding: 10px 40px;
}

.at-form .at-input label {
    width: 100px;
}

.at-form .at-input input {
    width: 350px;
}