<template name="submittedMessage">
    {{#if checkLocation}}
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div id="tb-testimonial" class="messages-container">
                    <div class="message-item">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row message-description">
                                    Created by {{ownerFirstName}} {{ownerLastName}}
                                    at <span class="location-name">{{messageLocation}}</span>,
                                    <span>{{formatDate createdAt}}</span>
                                </div>
                                <div class="row message-content">
                                    {{messageContent}}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    {{#if isOwner}}
                                        <button type="button" class="close delete pull-right" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
</template>